/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #10e4ef;
  padding: 20px;
}

/* Container styles */
.form-container {
  max-width: 400px;
  margin: 0 auto;
  background-color: #ffcf4d;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Heading styles */
h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333333;
}

/* Paragraph styles */
p {
  margin-bottom: 10px;
  line-height: 1.5;
}

.justify {
  text-align: justify;
}

/* Label styles */
label {
  display: block;
  margin-bottom: 5px;
  color: #333333;
}

/* Input styles */
input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 3px;
}

/* Button styles */
.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  background-color: #007bff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Result input styles */
input[readonly] {
  background-color: #f2f2f2;
  cursor: not-allowed;
}

/* Explanation textarea styles */
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  resize: none;
}

/* Error message styles */
.error-text {
  color: red;
  font-style: italic;
}

/* Additional styles */
hr {
  margin-top: 15px;
  margin-bottom: 15px;
  border: 0;
  border-top: 1px solid #cccccc;
}

.color-purple {
  color: purple;
}
  
    